{{collection}}
{{loguser}}
<div class="container" id="collection">
  <div class="row info">
    <h1 class="title" ng-bind="collection.name"></h1>
    <h2 class="title" ng-bind="collection.description"></h2>
    <span>
      Owner: 
      <a ng-if="collection.owner !== 'Anonymous'" href="#!/users/{{collection.owner}}">{{collection.owner}}</a>
      <span ng-if="collection.owner === 'Anonymous'">Anonymous</span>
       | created at: {{collection.createdAt}} | updated at: {{collection.updatedAt}}
    </span>
    <br>
    <div class="tag">
      <span ng-if="!collection.isclosed" class="tag open">Open</span>
      <span ng-if="collection.isclosed" class="tag closed">Closed</span>
       & 
      <span ng-if="!collection.isprivate" class="tag public">Public</span>
      <span ng-if="collection.isprivate" class="tag private">Private</span>
    </div>
    <div ng-if="loguser.username !== collection.owner && !isfave" ng-click="addfavorite(loguser.username, collection._id, collection.owner)" class="btn favorite fa fa-heart"></div>
    <div ng-if="loguser.username !== collection.owner && isfave" ng-click="unfave(loguser.username, collection._id)" class="btn glyphicon glyphicon-heart-empty">
    </div>
  </div>
  <div ng-if="collection.owner === loguser.username" class="row">
    <br>
    <button ng-click="editstory(collection, user)" class="col-sm-2 col-sm-offset-2 btn">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit Collection
    </button>
    <button ng-click="deletestory(collection, user)" ng-if="iseditstory" class="col-sm-2 btn btn">
      <span class="glyphicon glyphicon-trash"></span>
      Delete Collection
    </button>
    <button ng-click="remove()" ng-if="isdeleting" class="col-sm-2 btn">Confirm delete</button>
  </div>

  <div ng-if="iseditstory" class="form col-sm-8 col-sm-offset-2">
    <br>
    <div class="input-row">
      <h3>Story Title</h3>
      <input ng-model="editstoryobj.title" type="text" required="required" class="form-control"/>
    </div>

    <div class="input-row">
      <h3>Writing Permission</h3>
      <select name="isclosed" ng-model="editstoryobj.isclosed">
        <option name="Open" value="Open">Open</option>
        <option name="Closed" value="Closed">Closed</option>
      </select>
      <br>
      <span>Open: Anyone can read and add onto this collection</span>
      <br>
      <span>Closed: Anyone can read this collection, but only people you select can add onto it</span>
    </div>

    <div class="input-row">
      <h3>Description</h3>
      <textarea ng-model="editstoryobj.description" name="start-snippet" id="" cols="30" rows="10"></textarea>
      <button ng-click="editstory(collection, user)" class="btn publish-snippet">Cancel Edit</button>
      <button ng-click="savechanges(editstoryobj)" class="btn publish-snippet">Save Changes</button>
    </div>


  </div>



  <div ng-hide="iseditstory" class="collection-box col-sm-8 col-sm-offset-2">
    <div class="link">
      <p>{{collection.description}} </p>
    </div>
    <br>
    <div class="btn btn-sm" ng-click="toggleshowaddedby()">
      <span ng-show="showaddedby">Hide added by</span>
      <span ng-hide="showaddedby">Show added by</span>
    </div>
    <br><br>
    <div ng-repeat='link in collection._links track by $index' class="link">
      <!-- {{link}} -->
      <div class="row" ng-show="showaddedby">
        <a ng-if="link.addedby !== 'Anonymous'" href="#!/users/{{link.addedby}}" class="authorname col-sm-8">added by {{link.addedby}} on {{link.createdAt}}</a>
        <span ng-if="collection.addedby === 'Anonymous'">Anonymous</span>
        <a href="#!/link/{{link._id}}" ng-if="link.addedby === loguser.username" class="col-sm-1 col-sm-offset-3 authorname glyphicon glyphicon-pencil"></a>
      </div>
      <p ng-if="link.title">title: {{link.title}} </p>
      <p>url: {{link.url}} </p>
      <p ng-if="link.description">description: {{link.description}} </p>
      <p ng-if="link.tags">tags: {{link.tags}} </p>
    </div>



  <div class="add-link col-sm-8 col-sm-offset-2">
    <form name="linkForm">
      <!-- <input type="url" name='url' placeholder="url" ng-model="newlink.url" ng-minlength="1" required> -->
      <input type="text" name='url' placeholder="url" ng-model="newlink.url" ng-minlength="1" required>
      <br>
      <input type="text" name='title' placeholder="Title" ng-model="newlink.title">
      <input type="text" name='description' placeholder="Description" ng-model="newlink.description">
      <br>
      <input type="text" name='tags' placeholder="tags" ng-model="newlink.tags">
      <br>
      <button class="btn btn-primary" ng-click="addlink()" ng-disabled="linkForm.url.$invalid">Add Link</button>
    </form>
    

    
  </div>



</div>