<!-- {{loguser}} -->
<div class="container" id="home">
  <div ng-show="loguser || rootuser">
     <a class="btn btn-sm btn-primary" ng-href="#!/usercollections/{{username}}">Your Collections</a> | <a class="btn btn-sm btn-primary" ng-href="#!/userlinks/{{username}}">Your Links</a> | <a class="btn btn-sm btn-primary" ng-href="#!/users/{{username}}">Profile</a>
    <br><br>
    <form name="linkForm">
      <!-- <input type="url" name='url' placeholder="url" ng-model="newlink.url" ng-minlength="1" required> -->
      <input type="text" name='url' placeholder="url" ng-model="newlink.url" ng-minlength="1" required>
      <br>
      <input type="text" name='title' placeholder="Title" ng-model="newlink.title">
      <input type="text" name='description' placeholder="Description" ng-model="newlink.description">
      <br>
      Collection: 
      <select ng-model="newlink.collectionid" ng-change="change()">
        <option ng-repeat="collection in loguser._collections track by $index" value="{{collection._id}}">{{collection.name}}</option>
      </select>
      <br>
      <input type="text" name='tags' placeholder="tags" ng-model="newlink.tags">
      <br>
      <button class="btn btn-primary" ng-click="addlink()" ng-disabled="linkForm.url.$invalid">Add Link</button>
    </form>
    

    <hr>
    <div class="btn btn-primary" ng-click="togglecollectionform()">Add Collection</div>
    <form name="collectionForm" ng-show="collectionform">
      <input type="text" name='name' placeholder="Name" ng-model="newcollection.name" ng-minlength="1" required>
      <input type="text" name='description' placeholder="Description" ng-model="newcollection.description" ng-minlength="1">
      <p>Collection Permissions</p>
      <div class="row">
        <div class="col-md-6">
          <select name="isclosed" ng-model="newcollection.isclosed">
            <option name="open" value="open">Open</option>
            <option name="closed" value="closed">Closed</option>
          </select>
          <br>
          <span>Open: Other users may add links to this collection</span>
          <br>
          <span>Closed: Only you may add links to this collection</span>    
        </div>
        <div class="col-md-6">
          <select name="isprivate" ng-model="newcollection.isprivate">
            <option name="public" value="public">Public</option>
            <option name="private" value="private">Private</option>
          </select>
          <br>
          <span>Public: Other users may view this collection</span>
          <br>
          <span>Private: Only you may view this collection</span>
        </div>
      </div>
      
      <br>
      <button class="btn btn-primary" ng-click="addcollection()" ng-disabled="collectionForm.name.$invalid">Enter</button>
    </form>
    <hr>
  </div>
  
  <!-- <p>Featured Links</p> -->

  

</div>